html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  color: #323232;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden; 
}

body {
  background: radial-gradient(#12bff2, #0269a1);
}

#viewDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(10px);
  transition: filter 0.4s;
}

#container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  box-sizing: border-box;
  overflow: hidden; 
}

#introDiv {
  position: relative;
  width: 100%;
  max-width: 700px;
  min-height: 350px;
  background-color: #fff;
  padding: 3em;
  box-sizing: border-box;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8);
  overflow: auto; 
}

#introDiv h1 {
  margin-top: 0;
  margin-bottom: 1em;
}

#introDiv p {
  line-height: 1.5em;
}

#container a:hover {
  color: white;
  background: rgb(2, 105, 161);
}

#container a {
  color: rgb(2, 105, 161);
  text-decoration: none;
  font-weight: bold;
}

button.esri-icon-close {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  background: transparent;
  border: none;
  cursor: pointer;
}

#about {
  color: white;
  box-shadow: none;
  cursor: pointer;
}

.hidden {
  display: none;
}

#start-globe {
  border-radius: 0.2em;
  padding: 0.8em 1.5em;
  font-size: 1em;
  margin: 2em auto;
  display: block;
  border: 1px solid rgba(2, 105, 161, 1);
  background: transparent;
  color: rgba(2, 105, 161, 1);
}

#start-globe:hover {
  color: white;
  background: rgb(2, 105, 161);
  border: 1px solid white;
  transition: all 0.5s;
  cursor: pointer;
}

.esri-popup__content {
  margin: 0;
  overflow: visible; 
}

.esri-popup__header-title {
  font-size: 18px;
}

.esri-popup__footer {
  display: none;
}

.esri-feature__main-container .popupImage {
  max-height: 250px;
  overflow: hidden;
}

.popupImage > img {
  width: 100%;
}

.popupImageCaption {
  text-align: center;
  font-size: 0.9em;
  padding: 0.1em 1.5em 0;
}

.popupDescription {
  padding: 2em;
  overflow: visible; 
}

p.info {
  margin-bottom: 2em;
  font-size: 1.1em;
}

.popupDescription > p:last-child {
  margin-bottom: 0;
}

.popupCredits {
  font-size: 0.8em;
  padding: 0 2.5em 0.5em 2.5em;
}

.esri-attribution__sources a {
  color: #323232;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 992px) {

  #introDiv {
    max-width: 90%;
    padding: 2em;
    min-height: auto;
  }

  #introDiv h1 {
    font-size: 1.6em;
  }

  #introDiv p {
    font-size: 1em;
  }

  #start-globe {
    font-size: 0.95em;
    padding: 0.7em 1.2em;
  }

  #viewDiv {
    filter: blur(8px);
  }

  .popupDescription {
    padding: 1.5em;
  }

  .popupImageCaption {
    font-size: 0.85em;
  }
}

@media (max-width: 576px) {

  html, body {
    overflow: auto; /* evita travamento no mobile */
  }

  #container {
    padding: 0.5em;
    align-items: flex-start;
  }

  #introDiv {
    width: 100%;
    max-width: 100%;
    padding: 1.5em;
    box-shadow: 0 2px 6px rgba(0,0,0,0.6);
  }

  #introDiv h1 {
    font-size: 1.4em;
  }

  #introDiv p {
    font-size: 0.95em;
    line-height: 1.4em;
  }

  button.esri-icon-close {
    top: 1em;
    right: 1em;
    font-size: 1.2em;
  }

  #start-globe {
    width: 100%;
    font-size: 1em;
    padding: 0.8em;
  }

  #viewDiv {
    filter: blur(6px);
  }

  /* Popups do mapa */
  .esri-popup__header-title {
    font-size: 16px;
  }

  .popupDescription {
    padding: 1em;
  }

  .popupImage {
    max-height: 180px;
  }

  .popupCredits {
    font-size: 0.75em;
    padding: 0 1em 0.5em;
  }
}

