.modal-flag {
    width: 40px;
    height: auto;
    border: 1px solid black;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px; 
 }

 .modal-header {
    display: flex;
    align-items: center;
 }

 .modal-figure {
    margin-top: 20px;
 }

 .modal-image {
    width: 100%;
    margin-bottom: 10px;
 }

 .modal-caption {
    text-align: center;
    font-size: 0.875rem;
    color: #666;
 }

 .additional-info-box {
    margin-top: 20px;
    background-color: #f8f9fa;
    padding: 15px;
    border-left: 4px solid #007bff;
 }

 .additional-info-box h6 {
    font-weight: bold;
    color: #007bff;
    margin-bottom: 10px;
 }

 .modal-sources {
    margin-top: 20px;
    font-size: 0.875rem;
 }
 
 body {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   margin: 0;
   overflow: hidden;
   padding-top: 20px;
 }

 .container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   max-width: 1200px;
   padding: 0 20px;
   margin-top: 20px;
 }

 .botao {
   padding: 2px 6px;
   font-size: 10px;
   background-color: #007bff;
   color: white;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   text-decoration: none;
   transition: background-color 0.3s ease;
 }

 .botao:hover {
   background-color: #0056b3;
 }

 .slidecontainer {
   flex-grow: 1;
   margin: 0 10px;
   position: relative;
   top: 0;
   left: 0;
   right: 0;
 }

 .slider {
   width: 100%;
   height: 10px;
   background: #feae98;
   outline: none;
   opacity: 0.9;
   border-radius: 5px;
 }

 .slider:hover {
   opacity: 1;
 }

 .slider::-webkit-slider-thumb {
   width: 24px;
   height: 24px;
   background: #feee00;
   cursor: pointer;
   border-radius: 50%;
   border: 2px solid #000;
 }

 .marker {
   position: absolute;
   font-size: 14px;
   text-align: center;
   max-width: 120px;
   transform: translateX(-50%);
   top: 20px;
   white-space: nowrap; /* Impede quebra de linha */
 }

 .marker-title {
   font-size: 16px;
   font-weight: bold;
   display: block;
   margin-bottom: 2px;
 }

 .marker-subtitle {
   font-size: 12px;
   color: #555;
   display: block;
   white-space: normal;
 }

 #tooltip {
   background: white;
   border: 1px solid black;
   border-radius: 5px;
   padding: 8px;
   position: absolute;
   display: none;
   text-align: center;
   max-width: 20vw;
   max-height: 30vh;
   overflow: auto;
   font-size: 14px;
 }

 .tooltip-image {
   max-width: 120px;
   max-height: 120px;
   display: block;
   margin: 0 auto;
   border: 1px solid #000;
 }

 .tooltip-title {
   text-align: center;
   font-size: 18px;
   font-weight: bold;
 }

 .tooltip-text {
   text-align: center;
   font-size: 15px;
 }

 svg {
   width: 70%;
   height: auto;
   margin: 0 auto;
   display: block;
 }

